<style lang="scss" scoped>
  
</style>
<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <aboutcomponent></aboutcomponent>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import about from './AboutSubComponents/AheadComponent.vue'
  export default {
    components: {
      aboutcomponent: about
    }
  }
</script>