<style lang="scss" scoped>
  
</style>
<template>
  <div class="container-fluid">
    <headcomponent></headcomponent>
    <gmap-map
      v-bind:center="center"
      v-bind:zoom="7"
      style="width: 100%; height: 400px"
    >
      <gmap-marker
        v-bind:key="index"
        v-for="(m, index) in markers"
        v-bind:position="m.position"
        v-bind:clickable="false"
        v-bind:draggable="false"
      />
    </gmap-map>
  </div>
</template>

<script>
  import head from './IndexSubComponents/IheadComponent.vue';

  export default {
    data() {
      return {
        center: {lat:10.0, lng:10.0},
        markers: [
          {
            position:{lat:11.0, lng:10.0}
          },
          {
            position:{lat:8.0, lng:13.0}
          }
        ]
      };
    },
    components: {
      headcomponent: head
    }
  }
</script>