<style lang="scss" scoped>
  
</style>
<template>
  <div class="wrap container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">{{ title }}</div>
          <div class="panel-body">
            {{ body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['title', 'body']
  }
</script>
