<style lang="scss" scoped>
  .col-lg-12 {
    padding-top: 15px;
    background-color: cyan;
  }

  .form-control {
    outline: 2px solid #ccd0d2;
    border-radius: 0;
  }

  .dropbox {
    outline: 2px dashed #ccd0d2;
    outline-offset: -10px;
    min-height: 200px;
    background: lightcyan;
    color: dimgray;
    position: relative;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue;
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }

  #imageupload {
    width: 100%;
    opacity: 0;
    height: 200px;
    cursor: pointer;
    position: absolute;
  }
</style>

<template>
  <div class="wrap container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">            
            <form v-on:submit="onSubmitted()">
              <div class="form-group">
                <input type="text" v-model="product.name" class="form-control" placeholder="name">
              </div>
              <div class="form-group">
                <input type="text" v-model="product.price" class="form-control" placeholder="price">
              </div>
              <div class="form-group">
                <input type="text" v-model="product.content" class="form-control" placeholder="content">
              </div>
              <div class="form-group dropbox">
                <input type="file" id="imageupload" name="files[]" class="form-control" @change="imageChange">
                <p>
                  Drag your file(s) here to begin<br> or click to browse
                </p>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        product: {
          name: '',
          price: '',
          content: '',
          image_product: ''
        }
      }
    },

    methods: {
      imageChange(e) {
        var fileReader = new FileReader();
        fileReader.readAsDataURL(e.target.files[0]);
        fileReader.onload = (e) => {
          this.product.image_product = e.target.result
        };
      },

      onSubmitted(){
        var app = this;
        var newData = app.product;
        axios.post('/api/item', newData)
          .then(function (resp){
            app.$router.push({path: '/'});
          })
          .catch(function (resp){
            console.log(resp);
            alert("cant create new product");
          });
      }
    }
  }
</script>