<style lang="scss" scoped>
  .panel {
    margin-top: 25px;
  }
</style>

<template>
  <div class="container-fluid wrap">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in category">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <div  class="btn-group" role="group">
                      <button type="button" class="btn btn-primary">Edit</button>
                      <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){

      return{
        category: []
      }
    },

    methods: {
      getItem(){
        var app = this;
        axios.get('/api/category')
        .then(function(resp){
          app.category = resp.data.category;
        })
        .catch(function(resp){
          console.log(resp);
          alert("failed to load category");
        })
      },

      deleteItem(id, index){
        if(confirm("Do you really want to delete it?")){
          var app = this;
          axios.delete('/api/category/' + id)
          .then(function(resp){
            app.category.splice(index, 1);
          })
          .catch(function(resp){
            alert("could not delete entry");
          });
        }
      }
    },

    mounted(){
      this.getItem();
    }
  }
</script>