<style lang="scss" scoped>
  .my_panel > .panel-body {
    padding: 0;
  }

  .my_panel > .panel-body > img {
    width: 100%;
  }
</style>
<template>
  <div class="row">
    <div class="col-lg-4" v-for="item in product">
      <div class="panel panel-default my_panel">
        <div class="panel-heading">{{ item.name }}</div>
        <div class="panel-body">
          <img :src="'/img/items/' + item.image_product" height="300">
        </div>
        <div class="panel-footer">
          <p>{{ item.content }}</p>
          <button class="btn btn-primary" type="button">check</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        product: []
      }
    },

    methods: {
      getItem(){
        var app = this;
        axios.get('/api/product')
        .then(function(resp){
          app.product = resp.data.product;
        })
        .catch(function(resp){
          console.log(resp);
          alert("can't load the data");
        })
      }
    },

    mounted(){
      this.getItem();
    }
  }
</script>